// start .sidebarLeft
.sidebarLeft {
	@include media-breakpoint-up(lg) {

		background-color: $light;
	}

	max-height: 100%;
	// max-height: 100%;

	&--md {

		max-width: rem(1170 - 768);
		// position: relative;
		// overflow: hidden;
		overflow-x: hidden;
		overflow-y: auto;

	}

	&--lg {
		@include media-breakpoint-up(lg) {


			max-width: rem(740);
		}

		position: relative;
		// overflow: hidden;
		overflow-x: hidden;
		overflow-y: auto;
		display: flex;
		flex-direction: column;

		.panel-block {
			max-height: 100%;
			display: flex;
			flex-direction: column;

			padding: 0;
			border: none;

			&::before {
				display: none;
				border: none;
			}
		}
	}

	&--main {
		text-align: center;
		padding-bottom: 0;
		position: relative;

		img {
			max-height: 100%;
		}

		@include media-breakpoint-up(lg) {


			max-width: rem(1170 - 376);
		}

		@include media-breakpoint-up(lg) {
			margin-top: 0;
		}

		margin-top: 50vh;


	}

	flex-grow: 1;

	@include media-breakpoint-up(lg) {

		padding-top: rem(60);
		padding-bottom: rem(20);
	}

	padding-top: rem(40);
	padding-bottom: rem(1);
	display: flex;
	flex-direction: column;
	margin: 0;
	overflow-y: auto;
	position: relative;
	overflow-x: hidden;


	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.sidebarLeft