extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sidebarLeft/_sidebarLeft.pug 

block variables
	- let  mainPage= null
block title
	- let  title= '6-1'
	title= title
block pagecontent 
	+sidebarLeft6-1 