extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug 
include ../blocks/sidebarLeft/_sidebarLeft.pug 

block variables
	- let  mainPage= null
block title
	- let  title= '1'
	title= title
block pagecontent
	#map
	+mob-mnu()
	+header()
	//- +sidebarLeft

	//- 	+topLine()
	//- 	+top-nav()
	//- +headerBlock()
	//- +sForm()
	//- +sContact()
	//- .container-fluid
	+sidebarLeft
		+form-wrap
			+input("Имя пользователя")(class="form-control-lg")
			+input("Пароль*",'password')(class="form-control-lg")
			+input("Повторите пароль*",'password')(class="form-control-lg")
			+input("@mail",'email')(class="form-control-lg")
			button.btn.btn-primary.btn-lg.btn-block(type="submit") зарегистрироваться
			button.btn.btn-primary.btn-lg.btn-block.btn-reset(type="button") отменить

	+footer()