mixin header()
	// start header
	+b.header&attributes(attributes)
		.container-fluid
			.row
				.col-auto.order-md-last
					+b.dropdown--js
						+e.toggle
							+icon('menu')
						+e.block--menu
							+b.menu-map
								+e.btn(href="#").active Yandex 
								+e.btn(href="#") Google
								+e.btn(href="#") OpenStreet
							p.text-center.text-primary Выберите язык
							+b.menu-lang
								+e.btn(href="#")
									+e.img-wrap
										img(src="img/svg/Flag_of_Russia.svg", alt="")
									| RU
								+e.btn(href="#")
									+e.img-wrap
										img(src="img/svg/Flag_of_Ukraine-98.svg", alt="")
									|  UA
								+e.btn(href="#")
									+e.img-wrap
										img(src="img/svg/Flag_of_the_United_Kingdom.svg", alt="") 
									| EN
							+e.divider
							+b.nav
								+e.link(href="#")
									+e.icon-wrap
										+icon("speak")
									| Сообщение
								
								+e.link(href="#")
									+e.icon-wrap
										+icon("icon_feather-star")
									| Избранное
								
								+e.link(href="#")
									+e.icon-wrap
										+icon("map_marker")
									| Добавить объект
							+e.divider
							+b.nav.text-center
								+e.link(href="#") Реклама в wikirent.info
								+e.link(href="#") Сообщить об ошибке
				.col-auto
					+b.FORM.search-block
						+e.SPAN.title  wikirent.info
						//- +e.input-wrap
						+e.INPUT.input(type="text" placeholder="начните вводить адрес")
						+e.BUTTON.btn(type="submit")
							img(src="img/svg/search.svg" alt="")
						+e.dropdown
							+e.dropdown-title недавние
							+e.dropdown-item(href="#") Lorem ipsum dolor sit amet.
							+e.dropdown-item(href="#") Lorem ipsum dolor sit amet.
							+e.dropdown-item(href="#") Lorem ipsum dolor sit amet.
				.col
					+b.dropdown--js
						+e.toggle
							+icon('user')
						+e.block--form
							+form-wrap
								p.text-center.text-primary Войти в аккаунт
								+input("Login")
								+input("Password",'password')
							 
								button.btn.btn-primary.btn-block.mb-2(type="submit") Войти
								button.btn.btn-outline-primary.btn-block(type="submit") Регистрация
								 


				 
	// end header